@model EditRoleViewModel

@{
    ViewBag.Title = "Edit Role";
}

    <div class="jumbotron shadow bg-white">
        <h1>Edit Role</h1>

        <form method="post" class="mt-3">
            <div class="form-group row">
                <label asp-for="ID" class="col-sm-2 col-form-label">

                </label>
                <div class="col-sm-10">
                    <input asp-for="ID" disabled class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="RoleName" class="col-sm-2 col-form-label">
                </label>
                <div class="col-sm-10">
                    <input asp-for="RoleName" class="form-control">
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="cws_button" style="width:auto">Update</button>
                    <a asp-action="ListRoles" class="cws_button" style="width:auto">Cancel</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Users in this role</h3>
                </div>
                <div class="card-body">
                    @if (Model.Users.Any())
                    {
                        foreach (var user in Model.Users)
                        {
                            <h5 class="card-title">@user</h5>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">None at the moment</h5>
                    }
                </div>
                <div class="card-footer">
                    <a asp-action="EditUsersInRole" asp-controller="Addministration" class="cws_button"
                       asp-route-roleid="@Model.ID" style="width:auto">Add or remove users</a>
                </div>
            </div>
        </form>
    </div>